@import "./constants.css";

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  height: 70vh;
  margin-top: 20vh;
  margin-bottom: 5vh;
  background-color: var(--grey-background);
}

.listCard {
  display: flex;
  flex-direction: row;
  background-color: var(--purple-color);
  color: var(--yellow-color);
  width: 50%;
  height: auto;
  margin-top: 5vh;
  border-radius: 50px;
}

.repoAvatar {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border-width: 2px;
  border-color: var(--white-color);
  border-style: solid;
  transition: 0.3s;
}
.repoAvatar:hover {
  width: 100%;
  height: 100%;
}

.imageLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--yellow-color);
  margin: 0;
  align-items: center;
  height: 20ch;
  width: 20ch;
}

li {
  list-style: none;
  width: 25ch;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

li > span {
  color: white;
  font-size: 16px;
}

.starCount {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin: auto 0;
  margin: auto 5%;
  width: 20%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  margin: auto 0;
  padding: 0;
  width: 40%;
}

button {
  width: 20ch;
  margin: 1ch;
  font-weight: bold;
  font-size: 16px;
}

button[type="submit"] {
  font-weight: 300;
  font-size: medium;
}

.formField > label {
  padding: 1ch;
}

.reverseOrder {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: -5;
  bottom: 2vw;
  right: 10vw;
}

.reverseOrder > button,
.sort,
.filterFavs {
  background-color: var(--blue-color);
  color: var(--green-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 5px;
  border-color: var(--green-color);
}

.sort {
  position: absolute;
  bottom: 5vh;
  right: 10vw;
}

.filterFavs {
  position: absolute;
  bottom: 5vh;
  left: 10vw;
}

.bottomGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftGroup {
  margin: 3ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 40%;
}

.favRepo {
  width: 3ch;
  margin: 1ch;
  z-index: 0;
  background-color: var(--yellow-color);
  color: var(--brown-color);
  border: none;
  border-radius: 10ch;
  height: 3ch;
  transition: 0.3s;
}

.favRepo:hover {
  background-color: var(--yellow-color);
  height: 4ch;
  width: 4ch;
}

.listHtmlUrl {
  color: var(--yellow-color);
}

.readmeModal {
  margin: 1ch 0 0 0;
}

.ReactModal__Body--open
  .ReactModalPortal
  .ReactModal__Overlay.ReactModal__Overlay--after-open
  .ReactModal__Content.ReactModal__Content--after-open {
  display: flex;
  flex-direction: column;
  border: 5px solid #bbbbbb;
  background: #dddddd;
  overflow: auto;
  border-radius: 10px;
  padding: 30px;
}

.ReactModal__Content > button {
  width: 5ch;
  height: 5ch;
  margin: 1ch;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  border: 3px solid;
  background-color: #bbbbbb;
  color: #444444;
  transition: all 0.5s;
  margin: 0 0 0 auto;
}

.ReactModal__Content > button:hover {
  transform: scale(1.1);
}
