.readmeModal {
  margin: 1ch 0 0 0;
}

.ReactModal__Body--open
  .ReactModalPortal
  .ReactModal__Overlay.ReactModal__Overlay--after-open
  .ReactModal__Content.ReactModal__Content--after-open {
  display: flex;
  flex-direction: column;
  border: 5px solid #bbbbbb;
  background: #dddddd;
  overflow: auto;
  border-radius: 10px;
  padding: 30px;
}

.ReactModal__Content > button {
  width: 5ch;
  height: 5ch;
  margin: 3ch 3ch 5ch 5ch;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  border: 3px solid;
  background-color: #bbbbbb;
  color: #444444;
  transition: all 0.5s;
  margin: 0 0 0 auto;
}

.ReactModal__Content > button:hover {
  transform: scale(1.1);
}
