.searchWrapper {
  /* width: 40%;
  background-color: #61ff81;
  color: #1d438a;
  border-radius: 1ch; */
  width: 40%;
  background-color: #61ff81;
  color: #1d438a;
  border-radius: 1ch;
  position: fixed;
}

.formField {
  border: none;
  display: flex;
  flex-direction: column;
}

label {
  margin: 1ch;
}

button {
  width: 20ch;
  margin: 1ch;
}
.pageBlk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  left: -20vw;
  position: absolute;
  z-index: -5;
}

.pageBlk > button {
  background-color: #1d438a;
  color: #61ff81;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 5px;
  border-color: #61ff81;
}

.pageCount {
  font-size: 4rem;
  position: relative;
  left: 15vw;
  margin: auto;
}
